
    <nav>
        <div>
            <a href="/medicine">Medicines</a>
        </div>
        <div>
            <a href ="/users/schedule/<%=user.id %>">My Schedule</a>
        </div>
        <div>
            <a href ="/users/list/<%=user.id%>">My List of Medications</a>
        </div>
        <div>
            Welcome <%=username%>
            <br/>
            <a href="/auth/logout">Log Out</a>
        </div>
        
    </nav>
    
