<div class="navbar">
    <nav>
        
        Welcome <%=username%>
        <br/>
        <a href="/auth/logout">Log Out</a>
        <!-- <img src = "/../../images/peachpills.jpg" /> -->
    </nav>
    
    </div>
    