<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedTrac</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
   

    <%- include('../partials/navbar') %>

    <h1>Add new Medication</h1>
   <form action="/medicine" method="POST">
        Medication Name: <input type="text" name="name" /><br>
        Dosage: <input type="text" name="dosage" /><br>
        <input type="submit" name="" value="Add Medication" />

    <%- include('../partials/footer') %>
   </form>
</body>
</html>