<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css" />
    <title>MedTrac</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="signup">
      <div><a href="/auth/signup">Sign Up</a></div>
      <div><a href="/auth/login">Log In</a></div>
      <!-- <div><a href="/auth/logout">Log Out</a></div> -->
    </div>
      <%- include('../partials/footer') %>
    
  </body>
</html>
